@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

.buttons {
    display: flex;
    column-gap: 3rem;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
  
.btn-bir:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
  
.btn-bir {
    background-image: linear-gradient(
        to right,
        #314755 0%,
        #26a0da 51%,
        #314755 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #eee;
    border: 2px solid #000000 !important;
    border-radius: 10px !important;
    display: block;
}